@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700;800&display=swap');
:root{
    --highColor : hsl(238, 40%, 52%);
    --highAction :  hsl(358, 79%, 66%);
    --color : hsl(239, 57%, 85%);
    --red: hsl(357, 100%, 86%);
    --blue: hsl(212, 24%, 26%);
    --grayishBlue: hsl(211, 10%, 45%);
    --ightgray: hsl(223, 19%, 93%);
    --verylightgray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}
*{
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0;
    margin: 0;
}
p{
    font-size: 16px;
}
body{
    background: var(--verylightgray);
}
.message,.chatreply{
    background: var(--white);
    flex-direction: row;
    padding: 1.5em;
    border-radius: .5em;
    margin: 1.5em 0;
    display: flex;
    flex-direction: row;
}
.vote {
    height: max-content;
    background: var(--ightgray);
    padding: 0.3em;
    text-align: center;
    border-radius: .5em;
    margin-right: 1.5em;
    span {
        display: inline-block;
    }
    .plus,.minus{
        cursor: pointer;
    }
    .plus{
        width: 11px;
        height: 11px;
        background-image: url('./images/icon-plus.svg');
        &:hover{
            background-image: url('./images/icon-plus-hover.svg');
        }
    }
    .minus{
        width: 11px;
        height: 3px;
        background-image: url('./images/icon-minus.svg');
        &:hover{
            background-image: url('./images/icon-minus-hover.svg');
        }
    }
    .votes{
        margin: 1em auto;
        font-weight: 550;
        color: var(--highColor);
    }
}
.avatar {
    width: 70px;
    height: 50px;
    margin-right: 1.5em;
    img {
        width: 100%;
    }
}
.head{
    display: flex;
    justify-content: space-between;
}
.left,.right{
    display: flex;
    gap: 1em;
    .avatar{
        width: 40px;
        height: 40px;
        margin: 0;
    }
    span,a{
        line-height: 2em;
    }
}
.you{
    background: var(--highColor);
    color: var(--white);
    padding: 0.1em 0.2em .3em;
}
.actions{
    text-decoration: none;
    cursor: pointer;
    span{
        display: inline-block;
    }
}
.delete{
    color: var(--highAction);
    span{
        width: 12px;
        height: 14px;
        background-image: url('./images/icon-delete.svg');
    }
    &:hover {
    color: var(--red);
        span{
            background-image: url('./images/icon-delete-hover.svg');
        }
    }
}
.edit,.reply{
    color: var(--highColor);
    &:hover{
        color: var(--color);
    }
}
.edit {
    span{
        width: 14px;
        height: 14px;
        background-image: url('./images/icon-edit.svg');
    }
    &:hover {
        span{
            background-image: url('./images/icon-edit-hover.svg');
        }
    }
}
.reply {
    span{
        width: 14px;
        height: 14px;
        background-image: url('./images/icon-reply.svg');
    }
    &:hover {
        span{
            background-image: url('./images/icon-reply-hover.svg');
        }
    }
}
.chatreply {
    
    textarea{
        border-radius: .5em;
        border: .1em solid var(--ightgray);
        height: 8em;
        resize: none;
        width: 100%;
        cursor: pointer;
        &:focus-visible{
            border-color: var(--highColor);
        }
    }
}
.neted-message {
    display: flex;
    gap: calc( 1.8em + 6.5px);
}
.vl {
    border-left: 2px solid var(--ightgray);
    margin-left: calc( 1.8em + 6.5px);
}
.send {
    height: 2.5em;
    padding: 0.5em 1em;
    margin-left: 1.5em;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 0;
    color: var(--white);
    background: var(--highColor);
    border-radius: .5em;
    cursor: pointer;
    &:focus,&:hover{
        background: var(--color);
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.containor{
    max-width: 735px;
    margin: auto auto;
}