@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700;800&display=swap");
:root {
  --highColor: hsl(238, 40%, 52%);
  --highAction:  hsl(358, 79%, 66%);
  --color: hsl(239, 57%, 85%);
  --red: hsl(357, 100%, 86%);
  --blue: hsl(212, 24%, 26%);
  --grayishBlue: hsl(211, 10%, 45%);
  --ightgray: hsl(223, 19%, 93%);
  --verylightgray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  font-family: 'Kumbh Sans', sans-serif;
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
}

body {
  background: var(--verylightgray);
}

.message, .chatreply {
  background: var(--white);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5em;
  border-radius: .5em;
  margin: 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

.vote {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: var(--ightgray);
  padding: 0.3em;
  text-align: center;
  border-radius: .5em;
  margin-right: 1.5em;
}

.vote span {
  display: inline-block;
}

.vote .plus, .vote .minus {
  cursor: pointer;
}

.vote .plus {
  width: 11px;
  height: 11px;
  background-image: url("./images/icon-plus.svg");
}

.vote .plus:hover {
  background-image: url("./images/icon-plus-hover.svg");
}

.vote .minus {
  width: 11px;
  height: 3px;
  background-image: url("./images/icon-minus.svg");
}

.vote .minus:hover {
  background-image: url("./images/icon-minus-hover.svg");
}

.vote .votes {
  margin: 1em auto;
  font-weight: 550;
  color: var(--highColor);
}

.avatar {
  width: 70px;
  height: 50px;
  margin-right: 1.5em;
}

.avatar img {
  width: 100%;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left, .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.left .avatar, .right .avatar {
  width: 40px;
  height: 40px;
  margin: 0;
}

.left span, .left a, .right span, .right a {
  line-height: 2em;
}

.you {
  background: var(--highColor);
  color: var(--white);
  padding: 0.1em 0.2em .3em;
}

.actions {
  text-decoration: none;
  cursor: pointer;
}

.actions span {
  display: inline-block;
}

.delete {
  color: var(--highAction);
}

.delete span {
  width: 12px;
  height: 14px;
  background-image: url("./images/icon-delete.svg");
}

.delete:hover {
  color: var(--red);
}

.delete:hover span {
  background-image: url("./images/icon-delete-hover.svg");
}

.edit, .reply {
  color: var(--highColor);
}

.edit:hover, .reply:hover {
  color: var(--color);
}

.edit span {
  width: 14px;
  height: 14px;
  background-image: url("./images/icon-edit.svg");
}

.edit:hover span {
  background-image: url("./images/icon-edit-hover.svg");
}

.reply span {
  width: 14px;
  height: 13px;
  background-image: url("./images/icon-reply.svg");
}

.reply:hover span {
  background-image: url("./images/icon-reply-hover.svg");
}

.addComment {
  border-radius: .5em;
  border: 0.1em solid var(--ightgray);
  height: 5em;
  resize: none;
  width: 100%;
  padding: 1em;
  cursor: pointer;
}

.addComment:focus-visible {
  border-color: var(--highColor);
}

.body {
  padding-top: 1em;
}

.body .addComment {
  width: calc(100% - 2em);
  margin-bottom: 1em;
}

.body .send {
  float: right;
}

.neted-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc( 1.8em + 6.5px);
}

.vl {
  border-left: 2px solid var(--ightgray);
  margin-left: calc( 1.8em + 6.5px);
}

.send {
  height: 2.5em;
  padding: 0.5em 1em;
  margin-left: 1.5em;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  color: var(--white);
  background: var(--highColor);
  border-radius: .5em;
  cursor: pointer;
}

.send:focus, .send:hover {
  background: var(--color);
}

.chatreply.generated {
  margin: -1em auto 1.5em;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(103, 114, 126, 0.56);
}

.modal.opened {
  display: block;
}

.deleteModal {
  width: 300px;
  background: var(--white);
  padding: 1.5em;
  border-radius: .5em;
  margin: calc(50vh - 91.5px) auto;
}

.deleteModal .body {
  padding: 0.7em 0;
}

.deleteModal .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
}

.deleteModal .footer button {
  width: 100%;
  padding: .5em;
  border: 0;
  border-radius: .5em;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}

.deleteModal .footer .cancel {
  background: var(--grayishBlue);
}

.deleteModal .footer .deleteBtn {
  background: var(--highAction);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.containor {
  max-width: 735px;
  margin: auto auto;
}
/*# sourceMappingURL=style.css.map */